/* Nav.css */
.nav {
  background-color: #111;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
}

.nav_logo {
  font-size: 1.8rem;
  color: #e50914;
  font-weight: 800;
  text-decoration: none;
}
.nav_logo:hover {
  color: white;
}

.nav_items {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav_loginButton {
  padding: 6px 12px; /* Reduced padding */
  font-size: 1rem;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: red;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.nav_loginButton:hover {
  background-color: white;
  color: red;
  font-weight: bold;
}
